.web {
  color: #2196f3;
}

.logo,
.logo-footer {
  text-decoration: none;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 70%;
  letter-spacing: 0.03em;
}

.logo:visited,
.logo-footer:visited {
  color: inherit;
}

.menu-nav,
.address-list,
.button-list,
.projects-list,
.team-list {
  list-style-type: none;
}

.menu-nav a,
.menu-contact a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 36%;
  letter-spacing: 0.02em;
  color: #212121;
}

.menu-nav li a:hover,
.menu-nav li a:focus,
.menu-contact a:hover,
.menu-contact a:focus,
.address-list a:hover,
.address-list a:focus {
  color: #2196f3;
}

.menu-nav a:visited,
.menu-contact a:visited,
.address-list a:visited {
  color: inherit;
}

.header-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2f303a;
  position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 200px;
}

.header-button {
  font-weight: bold;
  font-size: 16px;
  line-height: 187%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 350px;
}

.header {
  display: flex;
  position: absolute;
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
  background: #2f303a;
  flex-direction: column;
}

.strengths h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 36%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  position: absolute;
  width: 270px;
  height: 16px;
  top: 774px;
}

.strengths p {
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;
  position: absolute;
  width: 270px;
  height: 75px;
  top: 800px;
}

.strengths h3:nth-child(1),
.strengths p:nth-child(2) {
  left: 215px;
}

.strengths h3:nth-child(3),
.strengths p:nth-child(4) {
  left: 515px;
}

.strengths h3:nth-child(5),
.strengths p:nth-child(6) {
  left: 815px;
}

.strengths h3:nth-child(7),
.strengths p:nth-child(8) {
  left: 1115px;
}

.work h2,
.team h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 95%;
  text-align: center;
  letter-spacing: 0.03em;
}

.work h2 {
  position: absolute;
  width: 352px;
  height: 42px;
  left: 624px;
  top: 969px;
  white-space: nowrap;
}

.work img {
  position: absolute;
  width: 370px;
  height: 294px;
  top: 1061px;
}

.work img:nth-child(2) {
  left: 215px;
}

.work img:nth-child(3) {
  left: 615px;
}

.work img:nth-child(4) {
  left: 1015px;
}

.team h2 {
  position: absolute;
  width: 210px;
  height: 42px;
  left: 695px;
  top: 94px;
  white-space: nowrap;
}

.team figcaption {
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.team .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team {
  display: flex;
  position: absolute;
  width: 1600px;
  height: 648px;
  left: 0px;
  top: 1449px;
  background: #f5f4fa;
}

.team-list {
  display: flex;
}

.team-card1,
.team-card2,
.team-card3,
.team-card4 {
  position: absolute;
  width: 270px;
  height: 368px;
  top: 186px;
  background: #ffffff;
  /* material shadow v1 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card1 {
  left: 215px;
}

.team-card2 {
  left: 515px;
}

.team-card3 {
  left: 815px;
}

.team-card4 {
  left: 1115px;
}

.team-card1 .name,
.team-card2 .name,
.team-card3 .name,
.team-card4 .name {
  position: absolute;
  width: 72px;
  height: 19px;
  left: 99px;
  top: 290px;
  white-space: nowrap;
}

.team-card1 .role,
.team-card2 .role,
.team-card3 .role,
.team-card4 .role {
  position: absolute;
  height: 19px;
  top: 319px;
  white-space: nowrap;
}

.team-card1 .role {
  width: 130px;
  left: 70px;
}

.team-card2 .role {
  width: 147px;
  left: 62px;
}

.team-card3 .role {
  width: 76px;
  left: 97px;
}

.team-card4 .role {
  width: 87px;
  left: 92px;
}

.page-footer,
.page-footer-portfolio {
  display: flex;
  position: absolute;
  width: 1600px;
  height: 252px;
  left: 0px;
  background: #2f303a;
}

.page-footer {
  top: 2097px;
}

.page-footer-portfolio {
  top: 1628px;
}

.logo-footer {
  width: 145px;
  height: 31px;
  top: 60px;
}

.address-list li,
.logo-footer {
  position: absolute;
  left: 215px;
}

.address-list li:nth-child(1) {
  width: 246px;
  height: 21px;

  top: 111px;
}

.address-list li:nth-child(2) {
  width: 231px;
  height: 21px;

  top: 141px;
}

.address-list li:nth-child(3) {
  width: 231px;
  height: 21px;

  top: 171px;
}

.logo-footer,
.studio {
  color: #ffffff;
  background-color: #2f303a;
}

.address-list,
.address-list a {
  text-decoration: none;
  background-color: #2f303a;
  font-style: normal;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  background: #f5f4fa;
  border-width: 0;
  border-radius: 4px;
}

.button-list li {
  display: flex;
  justify-content: center;
}

.all,
.pages,
.app,
.design,
.marketing {
  position: absolute;
  height: 38px;
  top: 174px;
}

.all {
  width: 121px;
  left: 510px;
}

.pages {
  width: 93px;
  left: 639px;
}

.app {
  width: 114px;
  left: 740px;
}

.design {
  width: 91px;
  left: 862px;
}

.marketing {
  width: 121px;
  left: 961px;
}

.button:hover {
  color: #ffffff;
  background: #2196f3;
}

.title {
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.03em;
  color: #757575;
}

.project-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
}

.projects figcaption {
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.03em;
  color: #212121;
}

.projects-list {
  display: flex;
}

.project1,
.project2,
.project3,
.project4,
.project5,
.project6,
.project7,
.project8,
.project9 {
  position: absolute;
  width: 370px;
  height: 404px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.project1 {
  left: 215px;
  top: 262px;
}

.project2 {
  left: 615px;
  top: 262px;
}

.project3 {
  left: 1015px;
  top: 262px;
}

.project4 {
  left: 215px;
  top: 696px;
}

.project5 {
  left: 615px;
  top: 696px;
}

.project6 {
  left: 1015px;
  top: 696px;
}

.project7 {
  left: 215px;
  top: 1130px;
}

.project8 {
  left: 615px;
  top: 1130px;
}

.project9 {
  left: 1015px;
  top: 1130px;
}

.project1 .project-title,
.project2 .project-title,
.project3 .project-title,
.project4 .project-title,
.project5 .project-title,
.project6 .project-title,
.project7 .project-title,
.project8 .project-title,
.project9 .project-title {
  position: absolute;
  width: 322px;
  height: 36px;
  left: 24px;
  top: 314px;
}

.project1 .project-description,
.project2 .project-description,
.project3 .project-description,
.project4 .project-description,
.project5 .project-description,
.project6 .project-description,
.project7 .project-description,
.project8 .project-description,
.project9 .project-description {
  position: absolute;
  width: 322px;
  height: 30px;
  left: 24px;
  top: 354px;
}

* {
  margin: 0;
}

.container {
  position: relative;
  max-width: 1600px;
  margin: auto;
  background: #ffffff;
}

.section {
  margin: 0;
  padding-top: 94px;
  padding-bottom: 94px;
}

.menu {
  display: flex;
  position: absolute;
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
  border-bottom: 1px solid #ececec;
}

.menu-nav {
  display: flex;
  justify-content: space-evenly;
}

.logo {
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
}

.agency,
.portfolio,
.contact,
.menu-mail,
.menu-tel {
  position: absolute;
  height: 16px;
  top: 32px;
}

.agency {
  width: 53px;
  left: 453px;
}

.portfolio {
  width: 58px;
  left: 552px;
}

.contact {
  width: 51px;
  left: 656px;
}

.menu-mail {
  width: 135px;
  left: 1078px;
}

.menu-tel {
  width: 110px;
  left: 1263px;
}
